.news h2{
    text-align: center;
}
.news .newsitems{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media (max-width:750px){
    .news .newsitems{
        display: block;
    }
}
@media (max-width:470px){
    .news{
        font-size: 62.5%;
    }
}